.card-table {
    margin: 20px 0;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(4, 160px); /* 4 карты в строке */
    gap: 5px; /* Уменьшенное расстояние между картами */
    justify-items: center; /* Центровка карт по горизонтали */
}

.card-row > div {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.2s;
    width: 120px; /* Фиксированная ширина карт */
    height: 180px; /* Фиксированная высота карт */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.card-row img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Масштабирование изображения без искажения */
}
