.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 800px; /* Ограничение ширины */
    text-align: center;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 карты в строке */
    gap: 15px;
    justify-items: center; /* Центровка элементов */
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
    max-width: 150px; /* Максимальная ширина карты */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.card-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.card-buttons button:hover {
    background-color: #0056b3;
}
